{% extends 'base.html.twig' %}

{% block title %}Activity index{% endblock %}

{% block body %}
    <div class="w-full h-screen justify-center align-center p-12">
        <h1 class="text-3xl font-bold font-heading text-center mb-10 text-red-400">TOUTES LES ACTIVITEES</h1>

        <div class="w-full justify-evenly">
            <table class="table w-full text-gray-400 border-separate space-y-6 text-sm">
                <thead class="bg-red-400 text-white">
                <tr>
                    <th class="p-3 text-left">Activity Name</th>
                    <th class="p-3 text-left">Date</th>
                    <th class="p-3 text-left">Status</th>
                    <th class="p-3 text-left">Membres</th>

                    <th class="p-3 text-left">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for activity in activities %}
                    <tr class="bg-blue-200 lg:text-black">
                        <td class="p-3">{{ activity.activityName }}</td>
                        <td class="p-3">{{ activity.activityDate ? activity.activityDate|date('Y-m-d H:i:s') : '' }}</td>
                        <td class="p-3 uppercase">{{ activity.isFinish ? 'Yes' : 'No' }}</td>
                        <td class="p-3 uppercase">{{ activity.members ? activity.members|join(', ') : '' }}</td>

                        <td class="p-3">
                            <span class="bg-green-400 text-gray-50 rounded-md px-2">ACTIVE</span>
                        </td>
                        <td class="p-3">
                            <a href="{{ path('activity_show', {'id': activity.id}) }}"
                               class="text-gray-500 hover:text-gray-100 mr-2">
                                <i class="material-icons-outlined text-base">Voir</i>
                            </a>
                            <a href="{{ path('activity_edit', {'id': activity.id}) }}"
                               class="text-yellow-400 hover:text-gray-100 mx-2">
                                <i class="material-icons-outlined text-base">Modifier</i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr class="text-center h-16">
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="w-full">
            <a class="bg-green-500 w-1/4 py-3 rounded-xl text-white shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105"
               href="{{ path('activity_new') }}">Create new
            </a>
        </div>
    </div>
{% endblock %}
