{% extends 'base.html.twig' %}
{% block body %}
    <!-- component -->
    <div class="font-sans">
        <div class="relative min-h-screen flex flex-col sm:justify-center items-center bg-gray-100 ">
            <div class="relative sm:max-w-sm w-full">
                <div class="card bg-blue-400 shadow-lg  w-full h-full rounded-3xl absolute  transform -rotate-6"></div>
                <div class="card bg-red-400 shadow-lg  w-full h-full rounded-3xl absolute  transform rotate-6"></div>
                <div class="relative w-full rounded-3xl  px-6 py-4 bg-gray-100 shadow-md">
                    <label for="" class="block mt-3 text-lg text-gray-700 text-center font-semibold">
                        Connexion
                    </label>
                    <div class="w-full h-full">
                        {{ form_start(form) }}
                        <div class="font-sans pb-5">
                            <div class="mb-5">
                                {{ form_errors(form) }}
                            </div>
                            <div class="row">
                                <div class="mb-5">
                                    {{ form_widget(form.mail) }}
                                </div>
                                <div class="mb-5">
                                    {{ form_widget(form.password) }}
                                </div>
                            </div>
                            {# {{ form_widget(form) }} #}
                        </div>
                        <div class="w-full flex flex-row justify-evenly">
                            <button class="bg-red-500 w-1/3 py-3 rounded-xl text-white shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                                <a class="block" href="/">Annuler</a>
                            </button>
                            <button class="bg-blue-500 w-1/3 py-3 rounded-xl text-white shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105"
                                    href="/logIn">{{ button_label|default('Connexion') }}</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                    <div class="mt-7">
                        <div class="flex justify-center items-center">
                            <label class="mr-2" >Pas de compte ?</label>
                            <a href="/user/new" class=" text-blue-500 transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                                Creer un compte
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}